## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
   5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [10]:
number = float(input("enter a no; "))
if number % 2 == 0: 
    print("no. is even")
else:
    print('number is odd')

enter a no;  34

no. is even

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [14]:
num= int(input('enter a number'))
for i in range(1,11):
         print(f'{num}x{i} = {num*i}')

enter a number 5

5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [17]:
lst = []
for i in range (2000, 3201):
 if ( i % 7 == 0) & (i % 5 != 0):
     lst.append(i)
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [19]:
lst = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]  
int_count =0
float_count = 0
str_count = 0
bool_count = 0
none_count = 0

for i in lst:
 if type(i) == int:
     int_count += 1
 elif type(i) == float:
     float_count +=1
 elif type(i) == str:
     str_count +=1
 elif type(i) == bool:
     bool_count +=1 
 elif i is None:
     none_count += 1
print(f" intger is {int_count}")
print(f" float is {float_count}")
print(f" str is {str_count}")
print(f" bool is {bool_count}")
print(f" none is {none_count}")

 intger is 5
 float is 1
 str is 4
 bool is 1
 none is 1

In [12]:
lst = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]  
int_count =[]
float_count = []
str_count = []
bool_count = []
none_count = [] 

for i in lst:
 if type(i) == int:
     int_count.append(i)
 elif type(i) == float:
     float_count.append(i)
 elif type(i) == str:
     str_count.append(i)
 elif type(i) == bool:
     bool_count.append(i)
 else:
     none_count.append(i)

print('int:', int_count)
print('float:', float_count)
print('str:', str_count)
print('bool:', bool_count)
print('none:', none_count)

int: [2, 3, 1, 3, 7]
float: [5.5]
str: ['Py', '10', 'SQL', 'John']
bool: [True]
none: [None]

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [100]:
lst1=  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [22]:

lst1=  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
sum = 0

for i in lst1:
 if type(i) in (int,float):                
     sum =sum+i

print("sum of numeric data = ", sum)

sum of numeric data =  21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [25]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
l1
l2 = []

for i in l1:
    if type(i) == str:
         l2.append(i)

print(l2, end = "-")
l2

['Py', '10', 'SQL', 'John']-

['Py', '10', 'SQL', 'John']

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [28]:
 x = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
def my_func(x):
    s = 0
    string_count = 0
    for i in x:
        if type(i) == int or type(i) == float:
            s = s + i
        if type(i) == str:
            string_count = string_count + 1
    print('sum= ' , s)
    print('string count = ', string_count)
my_func(x)

sum=  21.5
string count =  4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [25]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
l2 = []
for i in li:
    if i % 2 != 0:
        l2.append(i)

print(l2)

[5, 7, 97, 77, 23, 73, 61]

In [26]:
## using list comprehensions
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

[i for i in li if i % 2 != 0]

[5, 7, 97, 77, 23, 73, 61]

In [29]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

list( filter(lambda i : i % 2 != 0, li))

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [7]:
x = (input("Enter the list of numbers")).split(",")

def aggregation(x):
    print(f"Count of numbers {len(x)}")
    print(f"Minimum of numbers {min(x)}")
    print(f"Maximum of numbers {max(x)}")
    s=0
    for i in x:
        i = int(i)
        s = s+i
    print(f"Sum of numbers {s}")
    print(f"Mean of numbers {s/len(x)}")
aggregation(x)

Enter the list of numbers 1,2,3

Count of numbers 3
Minimum of numbers 1
Maximum of numbers 3
Sum of numbers 6
Mean of numbers 2.0

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [58]:
def area(x):
    x = input('enter the shape')
    if x =="square":
      side = float(input('enter the side of square'))
      area = side**2
    if x =="rectange":
       length= float(input('enter the length'))
       breath =  float(input('enter the breath'))
       area = length*breath
    if x=="circle":
            radius = float(input("enter the radius of circle "))
            area = 3.14*radius**2
    return area
area(x)

enter the shape square
enter the side of square 3

9.0

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [146]:
 l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def func1(l1,l2):
    li = []
    only_in_l1 = []
    only_in_l2 = []
    for i in l1:
        if i in l2:
            li.append(i)
        if i not in l2:
            only_in_l1.append(i)
    for i in l2:
        if i not in l1:
            only_in_l2.append(i)
    print(f''' 'Matched' : {li}, 
          'Only in l1' : {only_in_l1}, 
          'Only in l2' : {only_in_l2}''')
            
func1(l1,l2)

 'Matched' : ['January', 'February', 'June', 'December'],
         'Only in l1' : ['March', 'May', 'September'],
         'Only in l2' : ['April', 'October']

Q13: write a UDF to check if a number is prime or not.

In [59]:
num = int(input('enter a number:'))
def func():
    for i in range(2,num):
        if (num % i) == 0:
            print('not prime')
            break
    else:
        print('Prime')

func()

enter a number: 45

not prime

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [60]:
x = int(input("Please enter the positive interger "))
y = 1
for i in range(1,x+1):
    y = y*i
print(y)

Please enter the positive interger  4

24

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [148]:
x = int(input("Enter the integer number"))
d = {}
for i in range(1,x+1):
    y = i**2
    d[i] = y
print(d)

Enter the integer number 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [6]:
x = input("Enter the numbers by comma seperated ").split(",")
y = tuple(x)
print(x,y)

Enter the numbers by comma seperated  34,67,55,33,12,98

['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [5]:
x = input("Enter the comma seperated words  ").split(",")
for i in x:
    y = sorted(x)
print(y)

Enter the comma seperated words   without,hello,bag,world

['bag', 'hello', 'without', 'world']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [150]:
x = input("Enter the words ").split(" ")
y = sorted(list(dict.fromkeys(x)))
print(y)

Enter the words  I am

['I', 'am']

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [151]:
x = input("Enter the sentence to calculate ")
count_upper = 0
count_lower = 0
for i in x:
    if i.isupper():
        count_upper = count_upper + 1
    if i.islower():
        count_lower = count_lower + 1
print(f"UPPER CASE {count_upper} LOWER CASE {count_lower}")

Enter the sentence to calculate  I am In Delhi

UPPER CASE 3 LOWER CASE 7

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [69]:
prog = input('enter')
prog[::-1]

enter gdyfcye65237

'73256eycfydg'